

.message-container{
    height: 100vh;
    display: flex;
    justify-content: center;
}
.message{
    display: Flex;
    justify-content: center;
    align-self: center;
    position: relative;
}
.message h1{
    font-size: 55px;
    text-align: center;
    color: #00c870;
    font-family: 'Poppins', sans-serif;
}
