<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('head') -%>
    <link rel="stylesheet" href="./assets/css/404.css">
  </head>
<body>
  <%- include ('header') -%>


      <div class="d-flex justify-content-center error-wrapper">
        <div class="container box__description alert alert-info error-message-wrapper align-items-center">
          <div class="box__description-container">
            <div class="box__description-title">Oops!</div>
            <div class="box__description-text">It seems like we couldn't find the page you were looking for</div>
          </div>
          
          <a href="/" class="box__button">Return to Home Page</a>
          
        </div>
      </div>

</body>
</html>
