<!DOCTYPE html>

<!--
  Website designed and developed by Manikandan P;
  (C) Copyright 2021;
  webpage version v0.02D;
-->

<html lang="en">

  <head>
    <%- include ('head') -%>
    <link rel="stylesheet" href="./assets/css/blogIndex.css">
  </head>

<body>

  <!---====================== Navigation ==============================-->
  
  <%- include ('header') -%>
  
  <!---====================== Navigation End ==============================-->

  <!--====================  Main content starts from here ==================-->
  <div id="alert-wrapper" class="d-flex justify-content-center containers">
    <div class=" alert alert-primary info-wrapper">
      <b>Thank you for visiting. Unfortunately, Blog isn't ready. I still working on it to push it to the public view.</span>
    </div>  
  </div>
</body>
</html>