<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('head') -%>
        <title>Mani Kandan - Developer, Tester</title>

</head>

<body>
    <div class="container">
        <div class="msg fs-3 d-flex justify-content-center pt-5 mt-5">
            <div class="align-items-center d-flex flex-column">
                <div class="app-logo mb-3"
                style="
                    border-radius: 50%;
                    padding: 2px;
                    width: calc(28% - 13px);
                    padding: 25px;
                    box-shadow: 11px 7px 12px -1px rgba(201,201,201,0.77);">
                    <img src="../assets/img/app_logo.png" alt="College Logo" class="img-fluid"
                        style="width: 100%;">
                </div>
                <h6 style="margin-left: 10px;">MAMCET EEE</h6>
            </div>
        </div>
        <h4 class="text-center mt-5">Download The App Now!</h4>
        <div class="text-center mt-3">
            <a href="https://drive.google.com/file/d/1cLmeOai56NBUK66IcndVTNkE2QGSk-c2/view?usp=sharing">Download</a>
        </div>
    </div>



    <footer style="width: 100vw; position: absolute; bottom: 0; left: 0;">
        <p class="text-center">Made with 💖 by Mani Kandan (<a href="https://mkandan.com/">mkandan.com</a>)</p>
    </footer>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <script src="https://kit.fontawesome.com/0a606b725b.js" crossorigin="anonymous"></script>
</body>

</html>