<footer id="footer">
    <div class="row d-flex justify-content-center">

        
        <!-- Facebook -->
        <a href="https://www.facebook.com/UsualSecrets" target="_blank">
            <div class="d-flex justify-content-center mt-5" id="social-media">
                <div class="media-icon d-flex justify-content-center">
                    <i class="lni lni-facebook align-self-center"></i>
                </div>
            </div>
        </a>

        <!-- LinkedIn -->
        <a href="https://www.linkedin.com/in/mkandan1/" target="_blank">
            <div class="d-flex justify-content-center mt-5" id="social-media">
                <div class="media-icon d-flex justify-content-center">
                    <i class="lni lni-linkedin align-self-center"></i>
                </div>
            </div>
        </a>

        <!-- GitHub -->
        <a href="https://github.com/mkandan1" target="_blank">
            <div class="d-flex justify-content-center mt-5" id="social-media">
                <div class="media-icon d-flex justify-content-center">
                    <i class="lni lni-github-original align-self-center"></i>
                </div>
            </div>
        </a>

        
        <!-- Instagram -->
        <a href="https://www.instagram.com/mani__smartboy/" target="_blank">
            <div class="d-flex justify-content-center mt-5" id="social-media">
                <div class="media-icon d-flex justify-content-center">
                    <i class="lni lni-instagram align-self-center"></i>
                </div>
            </div>
        </a>
    </div>

    <div class="row mt-5 p-4 d-flex justify-content-center footer-nav">
        <ul class="nav">
            <li class="nav-item f-nav">
                <a href="#">Home</a>
            </li>
            <li class="nav-item f-nav">
                <a href="#about">About</a>
            </li>
            <li class="nav-item f-nav">
                <a href="#projects">Projects</a>
            </li>
            <li class="nav-item f-nav">
                <a href="/blog">Blog</a>
            </li>
            <li class="nav-item f-nav">
                <a href="#footer">Contact</a>
            </li>
        </ul>
    </div>
</footer>