    <nav class="navbar fixed-top navbar-expand-md" id="nav">
        <div class="container navbar-wrapper" id="navbar-wrapper">
            <a href="https://www.mkandan.com">
                <img src="assets/logo/mkandan_logo.png" class="img-fluid logo_img" width="50px" height="50px"
                    alt="Logo">
            </a>

            <button class="navbar-toggler" id="menu-button" type="button" data-toggle="collapse"
                data-target="#nav_menu">
                <i class="bi bi-list"></i>
            </button>

            <div class="collapse navbar-collapse ml-0" id="nav_menu">
                <ul class="navbar-nav mr-auto ml-lg-5">
                    <li class="nav-item active">
                        <a class="nav-link nav-item-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav_item-link" href="/#about" id="about-me">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav_item-link" href="/#projects" id="projects_btn">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-item-link" href="/blog" id="blog">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-item-link" href="#footer" id="contact">Contact Me</a>
                    </li>
                </ul>
                <span class="float-md-right">
                    <a class="resume_btn nav-link nav-item-link mt-sm-2 mt-md-0"
                        href="/assets/Resume/Resume-Mani-Kandan.pdf" target="_blank">Resume</a>
                </span>
            </div>
        </div>

    </nav>
