<!DOCTYPE html>

<!--
  Website designed and developed by Manikandan P;
  (C) Copyright 2021;
  webpage version v0.03 (NodeJs);
-->

<html lang="en">

<head>
  <%- include ('head') -%>
    <link rel="stylesheet" href="./assets/css/home_stylesheet.css">
</head>

<body>

  <!---====================== Navigation ==============================-->

  <%- include ('header') -%>

    <!---====================== Navigation End ==============================-->


    <!---====================== Main content ==============================-->
    <section id="home" class="h-auto">
      <div class="container wel d-flex flex-column flex-lg-row align-items-center">
        <div class="row uc d-flex flex-column flex-lg-row align-items-center align-items-lg-left align-self-center">
          <div class="welcome_sec_text text-center text-lg-left d-flex flex-column mt-5 align-self-center">
            <div class="first-text">
              <h1 class="position-relative">Hi there <span id="wave-emoji">👋</span>, I'm Mani Kandan<span>.</span></h1>
            </div>
            <div class="slogan d-flex justify-content-sm-center justify-content-lg-start position-relative">
              <p class="col-lg p-0 col-sm-9">My passion is to work smart, fast and help peoples. I want to work on
                various tasks and solve any type of problems</p>
            </div>
          </div>
          <div class="background_cir mt-md-4">
            <div class="circle_one"></div>
            <div class="circle_two"></div>
          </div>
        </div>
        <div class="row d-flex justify-content-center up">
          <div class="user_card_container align-self-center mt-5">
            <div class="user_card">
              <div class="profile_pic d-flex justify-content-center">
                <div class="profile_img">
                  <img src="assets/img/Mani Kandan Instagram.png" alt="Manikandan">
                </div>
              </div>
              <div class="users_name text-center">
                <h2>Mani Kandan</h2>
              </div>
              <div class="users_tag text-center">
                <h3>Software Tester, Developer</h3>
              </div>
              <div class="skills-container">
                <img src="/assets/img/badge.png" alt="Verified Badge">
              </div>
            </div>
            <div class="circle_three">

            </div>
          </div>
        </div>
      </div>
    </section>
    <!---====================== Main content End ==============================-->

    <!--=================  Dark Mode =============================-->
    <section>

      <div class="dark-mode-container">
        <label class="theme-switch mr-4 mr-sm-5 position-fixed" for="checkbox">
          <input type="checkbox" id="checkbox" />
          <div class="theme-switch-wrapper">
            <span class="material-icons">
              dark_mode
            </span>
          </div>
        </label>
      </div>

    </section>
    <!---================ Dark Mode End ===========================-->

    <!---================ About section ===========================-->
    <section id="about">
      <div id="about-wrapper" class="container">
        <div id="about-head" class="">
          <h4>About</h4>
          <h5 class="sub-heading">Why should you Hire Me?</h5>
          <ul class="line m-0">
            <li class="lines"></li>
            <li class="lines"></li>
            <li class="lines"></li>
          </ul>
        </div>

        <div id="about-list">
          <div class="row">
            <div class="col-12 col-lg-6">
              <div id="profile-wrapper" class="d-flex justify-content-space-around">
                <div class="profile_pic-2 mt-3 mt-md-0">
                  <div class="profile_img" style="width: min(max(3rem, 15vw), 150px);">
                    <img src="assets/img/Mani Kandan Instagram.png" alt="Manikandan">
                  </div>
                </div>

                <div id="profile-name-wrapper" class="mt-2 mt-md-0 align-self-center">
                  <div id="profile-name">
                    <h6>Mani Kandan</h6>
                    <p>uTester, Developer and Student</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 col-lg-6" id="highlights">
              <p>Hey, my name is Mani Kandan, from Tamil Nadu, India. I am working as a Student and Software Tester. I
                am having 1 and half years in Web development. I'm a highly motivated Tech savvy and Self-learner. </p>
            </div>
          </div>


        </div>

      </div>
    </section>
    <!---================ About section End ===========================-->

    <!---================ Projects section ===========================-->
    <section id="projects">
      <div id="projects-wrapper" class="container">
        <div id="projects-head" class="">
          <h4>Projects</h4>
          <h5 class="sub-heading">What I did for my exprience?</h5>
          <ul class="line m-0">
            <li class="lines"></li>
            <li class="lines"></li>
            <li class="lines"></li>
          </ul>
        </div>

        <div id="my-projects-list">
          <div class="row d-flex justify-content-center">

            <div class="card mr-md-5 mt-5" id="card" data-aos="fade-up" data-aos-duration="1000" style="width: 18rem;">
              <img class="card-img-top" src="assets/img/documentation.jpg" alt="Documentation Image">
              <div class="card-body">
                <h5 class="card-title">Documentation Page</h5>
                <p class="card-text">I build it using HTML and CSS. </p>
                <a href="https://mkandan1.github.io/technical-documentation/" class="btn">Visit Project</a>
              </div>
            </div>

            <div class="card mr-md-5 mt-5" data-aos="fade-up" data-aos-duration="1000" style="width: 18rem;">
              <img class="card-img-top" src="/assets/img/survey_form.jpg" alt="Survey Forms">
              <div class="card-body">
                <h5 class="card-title">Survey Form</h5>
                <p class="card-text">I build it using HTML and CSS.</p>
                <a href="https://mkandan1.github.io/survey_form/" class="btn">Visit Project</a>
              </div>
            </div>

            <div class="card mr-md-5 mt-5" data-aos="fade-up" data-aos-duration="1000" style="width: 18rem;">
              <img class="card-img-top" src="https://cypherbits.net/wp-content/uploads/2019/07/o7eexvxdnbar24gc1hqv.jpg"
                alt="Survey Forms">
              <div class="card-body">
                <h5 class="card-title">Repositories</h5>
                <p class="card-text">Visit my GitHub profile to see my all projects.</p>
                <a href="https://github.com/mkandan1?tab=repositories" class="btn">Visit Repositories</a>
              </div>
            </div>

          </div>
        </div>

      </div>
    </section>

    <!---================ Projects section End ===========================-->


    <!---================ Contact section ===========================-->
    <%- include ('footer') -%>
    <!---================ Contact section End ===========================-->


    <!--================= Bootstap scripts ========================-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/0a606b725b.js" crossorigin="anonymous"></script>

    <script src="./assets/js/dark-mode.js"></script>
    <script src="./assets/js/main.js"></script>
    <script src="./assets/js/cards.js"></script>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <script>
      AOS.init();
    </script>
</body>

</html>