
:root {
    --font-com: 'Comfortaa', cursive;
    --font-nota: 'Noto Sans', sans-serif;
    --font-normal: 400;
    --font-bold: 600;

    /*Colors for light mode*/
    --bg-color: #fcffff;
    --text-color: #000;
    --user-card-bg: #dedede;
    --primary-green: #00c87c;
    --dark-mode-icon: hsl(255, 15%, 26%);
    --menu-cl: #000;
}
    /*Colors for dark mode*/
    [data-theme="dark"] {
    --bg-color: #161625;
    --text-color: #fff;
    --user-card-bg: #52526c;
    --primary-green: #00c87c;
    --dark-mode-icon: #dadada;
    --menu-cl: #fff;
    }

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color) !important;/*Color for dark mode*/
    transition: .4s;
    height: 100vh;
}

#alert-wrapper {
    width: 100%;
    height: 100vh;
}
.info-wrapper {
    align-self: center;
}