#footer {
    width: 100%;
    padding-bottom: 2vh;
    background-color: var(--footer-bg);
}

#footer > div > a:hover {
    text-decoration: none;
}

.media-icon {
    width: min(max(1.1rem, 6vw), 40px);
    height: min(max(1.1rem, 6vw), 40px);
    background-color: var(--bg-color);
    border-radius: 100%;
    margin: 0 15px;
}

.media-icon >i {
    color: var(--footer-bg);
}

.media-icon:hover {
    cursor: pointer;
}

.f-nav > a {
    font-size: min(max(0.1rem, 3vw), 15px);
    color: #fff;
    font-weight: bold;
    font-family: var(--font-com);
    text-decoration: none;
    opacity: 100%;
}

.f-nav > a:hover {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}