
:root {
    --font-com: 'Comfortaa', cursive;
    --font-nota: 'Noto Sans', sans-serif;
    --font-normal: 400;
    --font-bold: 600;

    /*Colors for light mode*/
    --bg-color: #fcffff;
    --text-color: #000;
    --user-card-bg: #dedede;
    --primary-green: #00c87c;
    --dark-mode-icon: hsl(255, 15%, 26%);
    --menu-cl: #000;
}
    /*Colors for dark mode*/
    [data-theme="dark"] {
    --bg-color: #161625;
    --text-color: #fff;
    --user-card-bg: #52526c;
    --primary-green: #00c87c;
    --dark-mode-icon: #dadada;
    --menu-cl: #fff;
    }

nav {
    background-color: var(--bg-color);
}

.navbar-wrapper {
    padding-top: 30px;
    transition: .4s;
}

#nav_menu {
    text-align: center;
    margin: 0;
    margin-left: 60px;
    padding: 0;
}

.nav-item a {
    font-family: var(--font-com);
    font-weight: var(--font-normal);
    font-size: 15px;
    margin: 0 28px;
    color: var(--text-color);/*Color for dark mode*/
    opacity: 25%;
}

.active a {
    color: var(--text-color);/*Color for dark mode*/
    opacity: 80%;
}

.nav-item a:hover, .active a:hover {
    color: var(--text-color);/*Color for dark mode*/
    opacity: 60%;
}

#menu-button > i {
    color: var(--menu-cl) !important;
}

.resume_btn {
    font-family: var(--font-com);
    background-color: #00c87c;
    opacity: 80%;
    color: #fff;
    font-size: 15px;
    padding: 10px 30px !important;
    border-radius: 50px;
}

.resume_btn:hover {
    text-decoration: none;
    color: #fff;
}