
:root {
    --font-com: 'Comfortaa', cursive;
    --font-nota: 'Noto Sans', sans-serif;
    --font-Mon: 'Montserrat', sans-serif;
    --font-normal: 400;
    --font-bold: 600;

    /*Colors for light mode*/
    --bg-color: #fcffff;
    --text-color:#293651;
    --user-card-bg: #dedede;
    --primary-green: #00c87c;
    --dark-mode-icon: hsl(255, 15%, 26%);
    --menu-cl: #000;
    --btn-hover: #38b586;
    --footer-bg: #00c87c;
    --outer: #dedede;
}
    /*Colors for dark mode*/
    [data-theme="dark"] {
    --bg-color: #161625;
    --text-color: #fff;
    --user-card-bg: #52526c;
    --primary-green: #00c87c;
    --dark-mode-icon: #dadada;
    --menu-cl: #fff;
    --outer: #424242;
    --footer-bg: #00c87c;
    }
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color) !important;/*Color for dark mode*/
    transition: .4s;
    overflow-x: hidden;
}


#home, .wel, .uc, .up {
    width: 100%;
    height: auto;
    margin-top: 9vh;
}

.welcome_sec_text {
    position: relative;
}

.welcome_sec_text h1 {
    font-family: var(--font-com);
    font-size: min(max(1.4rem, 4vw), 32px);
    font-weight: bold;
    line-height: 40px;
    color: #00c87c;
    opacity: 90%;
}

#wave-emoji{
    font-size:  min(max(1.5rem, 5vw), 38px) !important;
}
.welcome_sec_text h1 > span {
    color: #04c63e;
    font-size: 40px;
}

.welcome_sec_text p {
    font-family: var(--font-nota);
    font-size: min(max(0.1rem, 3vw), 15px);
    opacity: 60%;
    color: var(--text-color);/*Color for dark mode*/
    margin-top: 6px;
    letter-spacing: 0.7px;
    line-height: 30px;
}

.background_cir {
    width: min(max(10rem, 14vw), 20vw);
    height: 120px;
    position: relative;
    right: 0;
    bottom: 0;
    margin-top:  min(max(2rem, 15vw), 300px) !important;
}
 
.circle_one {
    position: absolute;
    right: 0;
    width: 80%;
    background-image: linear-gradient(180deg, #7cff80, #05b572);
    opacity: 100%;
    border-radius: 50%;
    z-index: -1;
    bottom: 0;
    animation-name: circle_one;
    animation-duration: 0.8s;
}

.circle_one:after, .circle_two:after {
    content: '';
    display: block;
    padding-bottom: 100%;
}

.circle_two {
    position: absolute;
    width: 30%;
    background-image: linear-gradient(200deg, #7cff80, #08ba5e);
    opacity: 100%;
    border-radius: 50%;
    bottom: 0;
    margin-left: 5px;
    animation-name: circle_two;
    animation-duration: 0.8s;
}

@keyframes circle_one {
    0%{
        margin-bottom: -80px;
    }
    100%{
     margin-bottom: -0px;
    }
}

 @keyframes circle_two {
     0%{
        margin-bottom: -25px;
     }
     100%{
         margin-bottom: -0px;
     }
}

.user_card_container {
    width: 190px;
    height: 260px;
    margin-bottom: 6vh !important;
}
 
.user_card{
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 10px 1px var(--user-card-bg);/*Color for dark mode*/
    border-radius: 5px;
}

.profile_pic {
    width: 100%;
    height: 95px;
}


.profile_img {
    width: 30%;
    margin-top: 40px;
}

.profile_img img {
    width: 100%;
    border-radius: 50%;
    box-shadow: 0px 0px 1px 1px #bcbcbc;
}

.users_name {
    margin-top: 30px;
}

.users_name h2 {
    font-size: 18px;
    font-family: var(--font-com);
    font-weight: bold;
    color: var(--text-color);/*Color for dark mode*/
    opacity: 80%;
}

.users_tag h3 {
    font-size: 11px;
    opacity: 50%;
    color: var(--text-color);/*Color for dark mode*/
    font-family: var(--font-nota);
}

.skills-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.skills-container > img {
    width: 20%;
    margin-top: 20px;
}
#projects-wrapper, #about-wrapper {
    padding-top: 17vh;
}


.line {
    padding: 0 !important;
}

.lines:nth-of-type(1){
    width: 100px !important;
}

.lines {
    display: inline-block;
    width: 8px;
    height: 3px;
    list-style: none;
    background-color: var(--primary-green);
}


#projects-head > h4, #about-head > h4, #contact-head > h4{
    font-family: var(--font-com);
    font-size: min(max(1.4rem, 4vw), 24px);
    font-weight: bold;
    line-height: 40px;
    margin-bottom: 5px;
    opacity: 90%;
    color: var(--primary-green);
}

.sub-heading {
    font-size: min(max(1.4rem, 4vw), 27px);
    font-family: var(--font-Mon);
    font-weight: bold;
    line-height: 40px;
    margin-bottom: 4px;
    letter-spacing: 0.6px;
    color: var(--text-color);
}

/*About me section*/
#about {
    height: 100vh;
    margin-top: 8vh;
}

#about-list {
    margin-top: min(max(1rem, 3vw), 8vh);
}

#profile-name-wrapper {
    margin-left: min(max(1.4rem, 4vw), 27px);
}

#profile-wrapper {
    margin-top: min(max(1.2rem, 6vw), 107px);
    display: flex;
    height: 20vh;
}

#profile-name > h6 {
    font-size: min(max(1.4rem, 5vw), 27px);
    font-weight: bold;
    color: var(--text-color);
    font-family:var(--font-Mon);
}

#profile-name > p {
    font-family: var(--font-Mon);
    font-size: min(max(1.4rem, 3vw), 13px);
    color: var(--text-color);
    margin-top: 8px;
}

#highlights {
    margin-top: min(max(1.2rem, 7vw), 70px);
    color: var(--text-color);
    font-family: var(--font-nota);
    line-height: 33px;
}

#highlights > p {
    margin-bottom: 2rem;
}

#highlights > span {
    font-family: var(--font-nota);
    color: var(--primary-green);
    font-size: min(max(1.4rem, 3vw), 18px);
    margin-top: 20px;
}
/* Project Section */
#projects {
    height: auto;
    margin-bottom: 24vh;
}

#my-projects-list {
    margin-top: 5vh;
    color: var(--text-color);
}

.card {
    background-color: var(--bg-color);
    border: 1px solid var(--outer);
    transition: .4s;
}
.card:hover {
    box-shadow: 0px 0px 10px 1px var(--user-card-bg);
}

.btn {
    background-color: var(--primary-green);
    color: var(--bg-color);
}

.btn:hover {
    background-color: var(--btn-hover);
    color: var(--bg-color);
}