@media (max-width: 375px){
    body{
        overflow-x: hidden;
    }
    #card{
        width: 100%;
        height: auto;
        margin: 120px 0px;
        display: flex;
        align-self: center;
    }
    .container{
        width: 90vw;
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .background_hero{
        width: 100%;
        height: 20vh;
        order: -1;
        background-image: url(https://mkandan1.github.io/stats_preview_card_by_mani/img/image-header-mobile.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 5px 5px 0 0;
    }
    .contents{
        width: 100%;
        height: auto;
        text-align: center;
    }
    .contents-container {
        padding: 30px 30px 50px 30px;
    }
    .stats {
        display: flex;
        flex-direction: column;
    }
}